$light-70: rgba(255, 255, 255, 0.68);
$light-pop-boder: rgba(255, 255, 255, 0.15);

body{
    height: 100vh;
    background: linear-gradient(0deg, #000 0%, #000 100%), #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero{
    text-align: center;
    color: #fff;
}


.cities-forecast {
    .card {
        border-radius: 16px;
        border: 1px solid ;
        background: #121212;
        box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(40px);
        margin: 20px;
    
        .city{
            color: #FFF;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
        }
    
        .time{
            color: $light-70;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
        }
    
        .wind{
            color: rgba(255, 255, 255, 0.68);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    
        .temp{
            color: rgba(255, 255, 255, 0.68);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            
            &:after{
                content: " \00b0";
            }
        }

      
        .status{
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            text-transform: capitalize;
        }
    }
}


.current-city{

    .card{
        border-radius: 16px;
        border: 1px solid $light-pop-boder;
        background: #121212;
        box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.20);
        backdrop-filter: blur(40px);
    }

    .card-header{
        color: #FFF;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    .day-name{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }

    .day-temp{
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        padding: 0 20px 0 0;
    }

    .day-temp::after, .night-temp::after{
        content: " \00b0";
    }

    .night-temp{
        color: rgba(255, 255, 255, 0.68);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }


    .list-group-item{
        background-color: unset;
    }

}



.main-content{
    margin-top: 10vh;
}